body {
background-color: rgb(138, 188, 77);
max-height: 150vh;
width: 100%;
}
.hello {
    display: flex;
    align-items: center;
    flex-direction:column; 
}

.app{
    display: flex;
    flex-direction: column;
}


h1{
    margin-top: 100px;
}